p{
    font-size: 30px;
    font-weight: 400;
    margin: 20px auto 0 auto;
    font-family: Quicksand;
}
h2 {
    font-size: 50px;
    margin:0;
    padding:0;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    }

div{
    background-color: #2B2D42;
    color: #EDF2F4;
    font-family: Quicksand;
}