<html class="animated fadeInRight">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Ia Si Mananca
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h1>What is IaSiMananca?</h1>
    <p>We are a creative and optimistic team who wants to give you the best results for what you can eat in Iasi.</p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        Great offers
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h1>Why us?</h1>
    <p>Because we can assure you that we have the best deals in town, and we put a lot of hard work to offer the best food available
      based on your preferencies.</p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        Great prices

      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h1>Let's get started</h1>
    <p>We hope that you are hungry, so you can start exploring right now our offers available. Enjoy!</p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border" >
        Let's GO!
      </span>
    </div>
  </div>

</body>

</html>